
@{
    ViewBag.Title = "Get In Touch";
    Layout = "~/Views/_LayoutPage.cshtml";
}
@model CelilCavus.Energym.Models.DataObjectModel.ContactDto.ContactUsInsertDto 
<section class="contact_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                <span>
                    Get In Touch
                </span>
            </h2>
        </div>
        <div class="layout_padding2-top">
            <div class="row">
                <div class="col-md-6 ">
                    <form action="">
                        <div class="contact_form-container">
                            @using (Html.BeginForm("Index", "ContactUs", FormMethod.Post))
                            {
                                <div>
                                    <div>
                                        @Html.TextBoxFor(x => x.Name, new { @placeholder = "Name" })
                                    </div>
                                    <div>
                                        @Html.TextBoxFor(x => x.Email, new { @placeholder = "Email" })
                                        
                                    </div>
                                    <div>
                                        @Html.TextBoxFor(x => x.PhonenNumber, new { @placeholder = "Phone Number" })
                                        
                                    </div>
                                    <div class="mt-5">
                                        @Html.TextBoxFor(x => x.Message, new { @placeholder = "Message" })
                                    </div>
                                    <div class="mt-5">
                                        <button type="submit">
                                            Send
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="map_container">
                        <div class="map-responsive">
                            <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France"
                                    width="600" height="300" frameborder="0" style="border:0; width: 100%; height:100%"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
